body {
    padding: 3rem 0;
}

h1, h2 {
    font-weight: 700;
}

ul.problems {
    margin-top: 2rem;
}

ul.problems h5 {
    margin: 0;
}

ul.details {
    margin: 0.5rem 1rem;
    list-style: none;
    font-size: 90%;
}

ul.details .success {
    color: rgba(255,255,255, 0.5);
}